<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Add Numbers</h4>
                    <p class="category">Here you can add your phone number</p>
                </div>
                <div class="content">
                    <form name="form" (ngSubmit)="addNum.form.valid && this.doAdd() " #addNum="ngForm" validate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" [ngClass]="{ 'has-error': addNum.submitted && !phone_number.valid }">
                                        <label>Input the phone number</label>
                                        <input type="text" class="form-control border-input" placeholder="Phone Number" name="phone_number" [(ngModel)]="model.phone_number" #phone_number="ngModel" required>
                                        <div *ngIf="addNum.submitted && !phone_number.valid" class="help-block">Phone Number is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Add</button>
                            </div>
                            <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Phone Numbers</h4>
                    <p class="category">Here is a added phone numbers by yourself</p>
                    <div class="text-right">
                        <button class="btn btn-success btn-fill btn-wd" (click)="doTest()">Test Your Numbers</button>
                    </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of numbers.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of numbers.dataRows">
                                <td>{{row.phone_number}}</td>
                                <td><span class="ti-trash" (click)="removeNumber(row._id)"></span></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
