.ti-trash {
    cursor: pointer;
}
.ti-trash:hover {
    color: red;
    font-size: 18px;
}

.card .content {
    padding: 15px 35px 10px 35px;
}

@media only screen and (max-width: 768px) {
    .card .content {
        padding: 15px 15px 10px 15px;
    }
}