<footer class="footer">
    <div class="container-fluid">
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="https://www.zobosolution.com">ZoboSolution</a>
        </div>
    </div>
</footer>
