<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel" [class.mfull-width]="!isLoggedIn()">
        <navbar-cmp></navbar-cmp>
        <div class="content" [class.mpadding0]="isHome()">
            <router-outlet></router-outlet>
        </div>
        <footer-cmp></footer-cmp>
    </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>
