.hero {
    display: table;
    position: relative;
    background-image: url(../../../assets/img/cover.jpg);
    background-size: cover;
    padding: 150px 0;
    color: #fff;
    width: 100%;
    height: 100vh;
}

.hero .container {
    position: relative;
    z-index: 1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.hero-brand {
    margin-bottom: 75px;
    display: inline-block;
}

.hero:after {
    content: '';
    z-index: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

a {
    cursor: pointer;
}

.btn-full {
    border-color: #ffaa44;
    color: #ffaa44;
}
.btn-full:hover {
    background: #ffaa44;
    color: white;
}