<section class="hero">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-12">
              <a class="hero-brand" routerLink="/" title="Home"><img alt="Bell Logo" src="../../assets/img/angular2-logo.png"></a>
            </div>
          </div>
    
          <div class="col-md-12">
            <h1>
                Welcome To T-APP
              </h1>
    
            <p class="tagline">
              This is a powerful web app that can support good Automated Voice Call, SMS based on Twilio
            </p>
            <a class="btn btn-full" routerLink="/login">Get Started Now</a>
          </div>
        </div>
</section>