<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <div *ngIf="!isLoggedIn()" class="logo">
                <a routerLink="/" class="simple-text">
                    <div class="logo-img">
                        <img src="../../assets/img/angular2-logo.png" alt="">
                    </div>
                    Twilio App
                </a>
            </div>
            <a *ngIf="isLoggedIn()" class="navbar-brand" href="#">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isLoggedIn()">
                    <a (click)="doLogOut()">
                        <i class="ti-share-alt"></i>
                        <p>LogOut</p>
                    </a>
                </li>
                <li *ngIf="!isLoggedIn()">
                    <a routerLink="/login">
                        <i class="ti-share"></i>
                        <p>Login</p>
                    </a>
                </li>
                <li *ngIf="!isLoggedIn()">
                    <a routerLink="/signup">
                        <i class="ti-hand-point-up"></i>
                        <p>Signup</p>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
