    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-2">
            </div>
            <div class="col-lg-4 col-md-5">
                <div class="card card-user">
                    <div class="image">
                        <img src="assets/img/background.jpg" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                          <img class="avatar border-white" src="assets/img/faces/face-1.jpg" alt="..."/>
                          <h4 class="title">{{userData.data.username}}<br />
                             <a href="#"><small>@{{userData.data.username}}</small></a>
                          </h4>
                        </div>
                        <p class="description text-center">
                            Welcome Back! <br>
                            Enjoy with Our App <br>
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Email<br /><small>{{userData.data.email}}</small></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
