<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Status</h4>
                    <p class="category">Here you can enable/disable the functions</p>
                </div>
                <div class="content">
                    <label>Automated Voice Call</label>
                    <p></p>
                    <label style="cursor: pointer;">
                        <input type="checkbox" [(ngModel)]="status.voice_call" (change)="doChange()" class="ios-switch green bigswitch" checked />
                        <div><div>

                        </div></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
