.ti-trash {
    cursor: pointer;
}
.ti-trash:hover {
    color: red;
    font-size: 18px;
}

.card .content {
    padding: 15px 35px 10px 35px;
}

.smsbox {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.exist {
    background: #fffcf5;
}
.empty {
    background: #ffbfa3;
    color: #bd446d;
}

@media only screen and (max-width: 768px) {
    .card .content {
        padding: 15px 15px 10px 15px;
    }
}