    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">About Automated Voice Call</h4>
                        <p class="category">24 Hours</p>
                    </div>
                    <div class="content">
                        <p>This Automated Voice Call happened every day for registered phone numbers by all users.</p>
                        <p>If user disable this function in setting , there will be no action for those numbers.</p>
                        <p style="height: 15px;"></p>
                        <p>The Time is based on UTC : 6AM, 12AM, 6PM, 12PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
