    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-3">
            </div>
            <div class="col-lg-4 col-md-6 ls-panel">
                <div class="card">
                    <div class="header text-center">
                        <h2>SIGNUP</h2>
                    </div>
                    <div class="content">
                        <form name="form" (ngSubmit)="register.form.valid && this.doSignup() " #register="ngForm" validate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" [ngClass]="{ 'has-error': register.submitted && !username.valid }">
                                        <label>Username</label>
                                        <input type="text" class="form-control border-input" placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required>
                                        <div *ngIf="register.submitted && !username.valid" class="help-block">Username is required</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" [ngClass]="{ 'has-error': register.submitted && !email.valid }">
                                        <label>Email</label>
                                        <input type="text" class="form-control border-input" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" required>
                                        <div *ngIf="register.submitted && !email.valid" class="help-block">Email is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" [ngClass]="{ 'has-error': register.submitted && !password.valid }">
                                        <label>Password</label>
                                        <input type="password" class="form-control border-input" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required >
                                        <div *ngIf="register.submitted && !password.valid" class="help-block">Password is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center" style="margin-top: 20px;">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Signup</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
